<li>
	{{date}}      {{goalSetByUser}} 
	{{#unless completed}}
	<form action="/api/goals/{{id}}" method="post">
        <input type="hidden" name="completed" value="1">
        <input type="submit" value="Complete" class="yellow accent-2">
    </form>
	{{/unless}}
</li>