
  <div class="addGoal">

  <h2>Set a Goal</h2>
  <form class="create-goal">

    <div class="form-group">
      <label for="Goal">Goal:</label>
      <input type="text" id="userGoal" name="user_Goal">
    </div>

    <button type="submit">Set Goal</button>
  </form>



</div>