 <!-- cardio add-->
    <div id="firstThird">
        <h1>Nice job! Input your cardio session below.</h1>
    </div>
    <div id="thirdThird">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                    <input placeholder="" id="first_name" type="text" class="validate">
                    <label for="cardioType">Type:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input value="" id="disabled" type="text" class="validate">
                    <label for="cardioDuration">Duration:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input value="" id="disabled" type="text" class="validate">
                    <label for="cardioDistance">Distance:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <input id="date" type="date" class="validate">
                    <label for="cardioDate">Date</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
      