 <!-- weight lifting -->
      <h1>Nice job! Input your weight lifting workout!</h1>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="" id="first_name" type="text" class="validate">
              <label for="WLType">Type:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input value="" id="disabled" type="text" class="validate">
              <label for="WLDuration">reps:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input value="" id="disabled" type="text" class="validate">
              <label for="WLWeight">Weight:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="date" type="date" class="validate">
              <label for="WLdate">Date</label>
            </div>
          </div>
        </form>
      </div>