<html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Log In Page </title>
 </head>
 <body>
     

 
 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link rel="stylesheet" href="./public/assets/fitness.css">


<!-- {{!-- NAV BAR WITH LINKS TO DIFFERENT PAGES --}}
{{!-- IF SOMETHING IS CLICKED ONLY AVAILABLE TO MEMBERS, LINKS ARE TAKEN TO LOGIN PAGE --}} -->
<!-- Yellow Color :  yellow accent-2 -->
<!-- Black Color: #000000 black--> 
<!-- Grey Color : #424242 grey darken-3 --> 
<!-- issac 1/26 -->
<body>


{{!-- need to fix this header to be inline with the rest of the body. --}}
 <nav>
     <div class="nav black">
     <a href="#" class="brand-logo yellow-text">Follow My Fitness</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="#">Login</a></li>
         <li><a href="#">Signup</a></li>
         <li><a href="#">About Us</a></li>
     </ul>
     </div>
 </nav>
 

  
    <div class="container"class="fitnessGirl">
    <img src="./public/assets/fitnessGirl.jpg" alt="Fitness">
    <div class="centered-left">Track Your Goals</div>


    <!-- login input -->
    <div class="container s12 center-align ">
        <!-- <h1 class="left-align"> Email: </h1> -->
        <h1 class="center-align"> Welcome Back! </h1> 
        <div class="row">
            <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div>
            <button class="btn waves-effect waves-light center-align yellow accent-2 black-text" type="submit" name="action">Login>
        </div>


    </div>
  
 {{{ body }}}



<!-- footer -->
 <footer class="page-footer black">
 <div class="container ">
     <div class="row">
     <div class="col l6 s12">
         <h5 class="yellow-text">Footer Content</h5>
         <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
     </div>
     <div class="col l4 offset-l2 s12">
         <h5 class="yellow-text">Links</h5>
         <ul>
         <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
         <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
         <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
         <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
         </ul>
     </div>
     </div>
 </div>
 <div class="footer-copyright">
     <div class="container center-align" >
     <a class="yellow-text" class="center-align" href="#!">FullStacheDevs.com</a>
     </div>
 </div>
 </footer>

</body>
</html>