<html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Follow My Fitness </title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
       <link rel="stylesheet" href="/assets/fitness.css">
 </head>
<body>
    
<!-- {{!-- NAV BAR WITH LINKS TO DIFFERENT PAGES --}}
{{!-- IF SOMETHING IS CLICKED ONLY AVAILABLE TO MEMBERS, LINKS ARE TAKEN TO LOGIN PAGE --}} -->
<!-- Yellow Color :  yellow accent-2 -->
<!-- Black Color: #000000 black--> 
<!-- Grey Color : #424242 grey darken-3 --> 
<!-- issac 1/26 -->


<!-- 
{{!-- need to fix this header to be inline with the rest of the body. --}} -->
    <nav>
        <div class="nav-wrapper black">
        <img id="navlogo" src="/assets/images/logo.png">
        <a href="#" class="brand-logo yellow-text">Follow My Fitness</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/BMI">BMI Calculator</a></li>
            <li><a href="/goals">Fitness Goals</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
        </div>
    </nav>

  
 {{{ body }}} 



<!-- footer -->
 <footer class="page-footer black">
 <div class="container ">
     <div class="row">
     <div class="col l6 s12">
         <h5 class="yellow-text">Footer Content</h5>
         <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
     </div>
     <img id="footlogo" src="/assets/images/logo.png">
     <div class="col l4 offset-l2 s12">
         <h5 class="yellow-text">Links</h5>
         <ul>
         <li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
         <li><a class="grey-text text-lighten-3" href="/signup">Signup</a></li>
         <li><a class="grey-text text-lighten-3" href="/BMI">BMI Calculator</a></li>
         <li><a class="grey-text text-lighten-3" href="/profile">Profile</a></li>
         </ul>
     </div>
     </div>
 </div>
 <div class="footer-copyright">
     <div class="container center-align" >
     <a class="yellow-text" class="center-align" href="#!">FullStacheDevs.com</a>
     </div>
 </div>
 </footer>
 <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>