<div class="addGoal" id="firstThird">
    
    <h2 id="setGoal">Set a Goal</h2>

    <form class="create-goal" action="/api/goals" method="POST">
        <div class="form-group">
            <label for="Goal" >Goal:</label>
            <input type="text" id="userGoal" name="goal">
        </div>

        <button type="submit" >Set Goal</button>
    </form>

</div>

<div class="container" id="thirdThird" >
    <div class="row" >
        <div class="col" >

            <h2 id="goalsNot">Goals not yet reached</h2>

            <ul>
                {{#each goals}}
                {{#unless completed}}
                {{> goal/_block}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col">
            <h2>Goals Completed</h2>

            <ul>
                {{#each goals}}
                {{#if completed}}
                {{> goal/_block}}
                {{/if}}
                {{/each}}
            </ul>
        </div>

    </div>
</div>