
  <div class="addGoal">

  <h2>Set a Goal</h2>
  <form class="create-goal">

    <div class="form-group">
      <label for="Goal">Goal:</label>
      <input type="text" id="userGoal" name="user_Goal">
    </div>

    <button type="submit">Set Goal</button>
  </form>



</div>

<div class="container">
  <div class="row">
    <div class="col">

      <h2>Goals not yet reached</h2>

      <ul>
        {{#each Goals}}
        {{#unless completed}}
        {{> layout /goal-block}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col">
      <h2>Goals Completed</h2>

      <ul>
        {{#each Goals}}
        {{#if completed}}
        {{> layout /goal-block}}
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>
</div>