        
          <div class= "row" id="firstThird" >
            <div class="col s5 push-s2 text-white" id="manageGoals">
                <h1>MANAGE GOALS</h1>
                <p>Set your goals in our app, then login daily so that we know you're hitting your goals.</p>
                <a href="/goals">
                <button id="startButt">GET STARTED</button>
                </a>
          </div>
          <div class="col s5 right"></div>
          </div>
          </div>
          </div>
          </div>


        <div class="row" id="gymTime">
          <div class="col s5 left" id="inputWork">
                <h1>Input Your Workouts </h1>
                <p>Choose between cardio, weightlifting or bodyweight exercize.</p>
                <a href="/workout">
                <button id="startButt">GET STARTED</button>
                </a>
          </div>
        <div>

       <div class="col s5 right">
            </div>
            </div>
            </div>
        
        
        
        <div class="row" id="crunchGirl">
          <div class="col s5 left" id="inputBMI">
                <h1>Calculate your BMI</h1>
                <p>Log and store your progress</p>
                <a href="/BMI">
                <button id="startButt">GET STARTED</button>
                </a>
          </div>
        </div>
       
            
      
      {{!-- </div>     --}}
        {{!-- <div class="row" id="secondThird" > --}}
          {{!-- <div class="col s12 left m11"> --}}
              {{!-- <div class="card"> --}}
                {{!-- <div>
                    <span class="card-title text-black">Calculate your BMI!</span>
                </div> --}}
                {{!-- <div class="card-image"> --}}
                  {{!-- need to route this to proper handlebars page --}}
                  {{!-- <a href="/BMI" class="chooseWorkout" title="weightLifting"><img src="../assets/images/bmiCalculator.jpg" /></a> --}}
                {{!-- </div>
              </div>
            </div>
            
      </div> --}}




        


      