        
        <div class= "row" id="firstThird" >
            <div class="col s5 pull-s6">
                <h1>Track your progress</h1>
                <p>Log in daily, track your workouts, and see your progress in our App.  From walking, to stretching, to weightlifting, we can help you put in the work</p>
            </div>
        </div>

        <div class="row" id="secondThird" >
            <div class="col s5 push-s6">
                <h1>MANAGE GOALS</h1>
                <p>Set your goals in our app, then login daily so that we know you're hitting your goals.</p>
                <button onclick="location.href='/goals">GET STARTED</button>
            </div>
        </div>

            <div class="row center-align" id="thirdThird">
                <div class="col s12 m4 l4">
                        <div class="col s12 m4 l4">
                          <div class="card">
                            <div>
                                <span class="card-title">Input your Workout!</span>
                            </div>
                            <div class="card-image">
                              {{!-- need to route this to proper handlebars page --}}
                              <a href="/workout" class="chooseWorkout" title="weightLifting"><img src="../assets/images/gymTime.jpg" /></a>
                            </div>
                          </div>
                        </div>
                  </div>

    

 

            </div>
      