        <div class= "row" >
            <div class="col s12 m4">
                <h1>Track your progress</h1>
                <p>Log in daily, track your workouts, and see your progress in our App.  From walking, to stretching, to weightlifting, we can help you put in the work</p>
            </div>
        </div>

        <div class="row">
            <div>
                <img src="" alt="">
            </div>
            <div class="col s12 m4 right">
                <h1>MANAGE GOALS</h1>
                <p>Set your goals in our app, then login daily so that we know you're hitting your goals.</p>
                <button>GET STARTED</button>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col s12 m6 l4">
                    <div class="row">
                        <div class="col s12 m6 l3">
                          <div class="card">
                            <div>
                                <span class="card-title">Weight Lifting</span>
                            </div>
                            <div class="card-image">
                              <img src="images/sample-1.jpg">
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l4">
                    <div class="row">
                        <div class="col s12 m6 l3">
                          <div class="card">
                            <div>
                                <span class="card-title">Cardio</span>
                            </div>
                            <div class="card-image">
                              <img src="images/sample-1.jpg">
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6 l4">
                    <div class="row">
                        <div class="col s12 m6 l3">
                          <div class="card">
                            <div>
                                <span class="card-title">Body Weight Exercise</span>
                            </div>
                            <div class="card-image">
                              <img src="images/sample-1.jpg">
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> 