 <!-- main workout -->
   
    
    <div class="container">
        <h1>What workout did you complete today?</h1>
        <div class="row">

            <div class="col s12 m6 l4">
                <div class="row">
                    <div class="col s12 m6 l3">
                      <div class="card">
                        <div>
                            <span class="card-title">Cardio</span>
                        </div>
                        <div class="card-image">
                          <img src="images/sample-1.jpg">
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="row">
                    <div class="col s12 m6 l3">
                      <div class="card">
                        <div>
                            <span class="card-title">Weight Lifting</span>
                        </div>
                        <div class="card-image">
                          <img src="images/sample-1.jpg">
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="row">
                    <div class="col s12 m6 l3">
                      <div class="card">
                        <div>
                            <span class="card-title">Body Weight Workout</span>
                        </div>
                        <div class="card-image">
                          <img src="images/sample-1.jpg">
                        </div>
                      </div>
                    </div>
                </div>
            </div>

        </div>

      <!-- cardio add-->
      <h1>Nice job! Input your cardio session below.</h1>
      
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="" id="first_name" type="text" class="validate">
          <label for="cardioType">Type:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input value="" id="disabled" type="text" class="validate">
          <label for="cardioDuration">Duration:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input value="" id="disabled" type="text" class="validate">
          <label for="cardioDistance">Distance:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="date" type="date" class="validate">
          <label for="cardioDate">Date</label>
        </div>
      </div>
    </form>
  </div>
      <!-- weight lifting -->
      <h1>Nice job! Input your weight lifting workout!</h1>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="" id="first_name" type="text" class="validate">
              <label for="WLType">Type:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input value="" id="disabled" type="text" class="validate">
              <label for="WLDuration">reps:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input value="" id="disabled" type="text" class="validate">
              <label for="WLWeight">Weight:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="date" type="date" class="validate">
              <label for="WLdate">Date</label>
            </div>
          </div>
        </form>
      </div>
      <!-- cardio -->
      <h1>Nice job! What workout did you complete today?</h1>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="" id="first_name" type="text" class="validate">
              <label for="BWType">Type:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input value="" id="disabled" type="text" class="validate">
              <label for="BWDuration">Duration:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input value="" id="disabled" type="text" class="validate">
              <label for="BWReps">Reps:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input value="" id="disabled" type="text" class="validate">
              <label for="BWSets">Sets:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="date" type="date" class="validate">
              <label for="WLdate">Date</label>
            </div>
          </div>
        </form>
      </div>