 /* img{
    border: 2px solid green;
}  */

/* body{
    max-width: 100%;
} */

  /* .container{
    border: 2px solid green;
}    */

.row{
    display: block;
    max-width: 100%;
    background-color: transparent;
} 


body{
    background-color:white;
}
#firstThird{
    background-color: black;
    background-image: url("/assets/images/fitnessGirl.jpg");
    background-size: cover;
    height: 650px;

    color: white;
    display: flex; 
    justify-content: left; 
    align-items: center;
}

    #secondThird{
        background-color: #333;
        height: 310px;
    }

    #thirdThird{
    
        background-image: url("/assets/images/curlingGuy.jpg");
        background-size: cover;

    
    }
    .card{
    border: 6px solid yellow;
    width: 350px;
    display:block;
    text-align: center;
    float: left;
    margin-left: 20px;

    }

    #loginRow{
        display: inline-block;
        width: 600px;
        font-size: larger;
    }

    label{
        font-size: large;
        color: white;
    }

    #footer{
        display: flex;
        background: black;
    } 

    form{
        background-color: transparent;
    }
/* 
    .page-footer{
        background-color: black;
        background-image: url("/assets/images/fitnessGirl.jpg");
        background-size: cover;
        height: 650px;
    } */