 /* img{
    border: 2px solid green;
}  */

/* body{
    max-width: 100%;
} */

  /* .container{
    border: 2px solid green;
}    */

/* .row{
    display: block;
    max-width: 100%;
    background-color: black;
}  */


body{
    background-color:white;
}
#firstThird{
    background-color: black;
    background-image: url("/assets/images/fitnessGirl.jpg");
    background-size: cover;
    height: 650px;

    color: white;
    display: flex; 
    justify-content: left; 
    align-items: center;
}

    #secondThird{
        background-color: #333;
        height: 310px;
    }

    #thirdThird{
        background-color: black;
        background-image: url("/assets/images/curlingGuy.jpg");
        background-size: cover;
        height: 650px; 
    }
    .card{
    border: 6px solid yellow;
    width: 350px;
    display:block;
    text-align: center;

    }

    #loginRow{
        display: inline-block;
        width: 600px;
        font-size: larger;
    }

    label{
        font-size: large;
    }

    #navlogo{
        width:50px;
    }
    
    #footlogo{
        display: inline-block;
        width: 250px;
        justify-content: center;
    }

    input {
        background-color:white;
    }