img{
    max-width:100%;
  /* display:block; */
  height:auto;
}

body{
    max-width: 100%;
}

.container{
    width:fit-content;
    margin: none;
}

.row{
    display: block;
    max-width: 100%;
} 